* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

table {
   width: 100%;
   border: 4px double black;
   border-collapse: collapse;
}

th,
td {
   padding: 10px;
   text-align: center;
   vertical-align: middle;
}

.all-contact-table tr:hover {
   cursor: pointer;
   background: #333;
   color: white;
   transition: 0.3s;
}

tbody,
thead {
   background-image: linear-gradient(to right, #f2caca, #e4cbfb);
}

.student-btn {
   border: none;
   outline: none;
   border-radius: 5px;
   padding: 5px;
   color: white;
}

.detail {
   background-color: green;
}

.edit {
   background-color: black;
}

.delete {
   background-color: red;
}

.student-btn:hover {
   cursor: pointer;
}

.all-contact-detail-no-students {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   gap: 10px;
}

.all-no-students {
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.all-no-students button {
   border: none;
   outline: none;
   padding: 15px;
   border-radius: 10px;
   width: 60%;
   background-image: linear-gradient(to right, #f2caca, #e4cbfb);
   box-shadow: 5px 5px 10px hotpink;
   font-size: 25px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.all-no-students h1 {
   color: white;
}

.all-no-students button:hover {
   cursor: pointer;
   background: #333;
   color: white;
   width: 65%;
   font-size: 28px;
}